extends layouts/main

block content
    .form-container
        form(action=routes.editVideo, method="post")
            input(type="hidden", id="Video_id", name="id")
            input(type="text", placeholder="Title", name="Title")
            input(type="textarea", placeholder="Description", name="description")
            input(type="submit", value="Update Video")
        a.form-container-link(href=routes.deleteVideo) Delete Video